@use "./Variables.scss" as var;
.__Home {
  position: relative;
  background: linear-gradient(to bottom, #06beb55a 0%, #48b1bf4f 100%),
    url(https://images5.alphacoders.com/682/thumb-1920-682174.jpg)
      no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 56%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  .homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  span {
    transition: 300ms;
    &.text-light {
      transition: 300ms;
      color: rgba($color: white, $alpha: 0.7) !important;
      &.flow-danger {
        cursor: pointer;
        &:hover {
          transition: 300ms;
          color: #dc3545!important;
        }
      }
      &.flow-success {
        cursor: pointer;
        &:hover {
          transition: 300ms;
          color: #198754!important;
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .__Home {
  }
}
