@use "./Variables.scss" as var;
.__Navbar {
  flex: 1;
  width: 100% !important;
  padding: 0 var.$content-margin !important;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(5px) saturate(160%) contrast(45%)
    brightness(140%);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  position: fixed !important;
  top: 0 !important;
  z-index: 100000 !important;
  max-height: 90px;

  .navbar-collapse {
    &.collapse.show {
      background-color: white;
      .form-inline {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-content: center !important;
        flex-direction: column !important;
        ul {
          display: flex !important;
          justify-content: center !important;
          align-content: center !important;
          flex-direction: column !important;
          .signup {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  .navbar-toggler {
    .icon {
      font-size: 2rem;
    }
  }
  .logo {
    height: 5rem !important;
    padding-right: 4rem;
  }
  .signup {
    margin-left: 1rem !important;
  }
  .simple-nav-link {
    color: black !important;
    margin: 0 1.5rem;
    transition: 500ms;
    font-weight: 700;
    position: relative;
    &:hover {
      color: rgba(0, 0, 0, 0.4) !important;
      transition: 500ms;
    }
    &:hover.active {
      &:after {
        transition: 500ms;
        background: rgba(0, 0, 0, 0.4);
      }
    }
  }
  .simple-nav-link.active {
    &:after {
      transition: 500ms;
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: none;
      height: 2px;
      left: 0;
      position: absolute;
      background: black;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 100%;
    }
  }
}
@media only screen and (max-width: 980px) {
  .__Navbar {
    padding: 0.5rem 2rem !important;
    .navbar-collapse {
      .form-inline {
        ul {
          flex-direction: row !important;
          .signup {
            margin-left: 1rem !important;
          }
        }
      }
    }
    .logo {
      height: 2rem !important;
    }
  }
}
//

a {
  text-decoration: none;
}
.custom-spin {
  width: 1rem !important;
  height: 1rem !important;
}
.Button-Custom-1 {
  color: inherit;
  -webkit-text-decoration: none;
  text-transform: unset !important;
  text-decoration: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: static;
  text-align: start;
  white-space: normal;
  cursor: pointer;
  border-radius: 24px !important;
  height: 3rem !important;
  padding: 0px 2rem !important;
  width: 9rem;
  .type {
    font-weight: 700 !important;
    font-size: 1rem !important;
  }
}
.Button-Custom-1.white {
  background: rgb(255, 255, 255) !important;
  border: 1px solid rgb(0, 0, 0) !important;
  color: rgb(0, 0, 0) !important;
  transition: 500ms !important;
  &:hover {
    background: rgb(0, 0, 0) !important;
    border: 1px solid rgb(255, 255, 255) !important;
    color: rgb(255, 255, 255) !important;
    transition: 500ms !important;
  }
}
.Button-Custom-1.ooopen {
  padding: 1.5rem 5rem !important;
  width: fit-content !important;
}
.Button-Custom-1.black {
  background: rgb(0, 0, 0) !important;
  border: 1px solid rgb(255, 255, 255) !important;
  color: rgb(255, 255, 255) !important;
  transition: 500ms !important;
  &:hover {
    background: rgb(255, 255, 255) !important;
    border: 1px solid rgb(0, 0, 0) !important;
    color: rgb(0, 0, 0) !important;
    transition: 500ms !important;
  }
}

.Button-Custom-1.unfill {
  background: rgb(255, 255, 255) !important;
  border: 2px solid var(--PC) !important;
  color: var(--PC) !important;
  transition: 500ms !important;
  &:hover {
    background: var(--PC) !important;
    color: rgb(255, 255, 255) !important;
    transition: 500ms !important;
  }
}

.Button-Custom-1.fill {
  background: transparent !important;
  border: 2px solid transparent !important;
  font-weight: 900 !important;
  color: black !important;
  border-radius: 0px !important;
  transition: 500ms !important;
  &.red {
    &:hover {
      color: red !important;
      border-bottom: 2px solid red !important;
      transition: 500ms !important;
    }
  }
  &:hover {
    color: var(--PC) !important;
    border-bottom: 2px solid var(--PC) !important;
    transition: 500ms !important;
  }
}
@media only screen and (max-width: 980px) {
  .Button-Custom-1 {
    width: unset !important;
    height: unset !important;
    padding: 6px 12px !important;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-expand-lg {
    .navbar-collapse {
      justify-content: space-between !important;
    }
  }
}
.fit-with-navbar {
  margin-top: var.$navbar-height;
  min-height: calc(100vh - var.$navbar-height);
}

@media only screen and (max-width: 980px) {
  .fit-with-navbar {
    margin-top: calc(var.$navbar-height - 30px);
    min-height: calc(100vh - (var.$navbar-height - 30px));
  }
}
